.container-opp .opp-cnt-wrap div.report-content{
    clear: both;
    overflow: hidden;
    padding: 20px 0;
}
.report-wrapper{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    &:first-child{
        padding-right: 0;
    }
    h4{
        font-size: 18px;
        border-bottom: 1px solid #cdcdcd;
        line-height: 50px;
    }
    form{
        background: #fff;
        padding: 1rem 0.75rem;
    }
    .details-title{
        color: #666;
        padding-top: 0.625rem;
        padding-bottom: 0.125rem;
    }
    .details-content{
        padding: 0.25rem 0;
        height: 3rem;
        line-height: 3rem;
    }
    input.details-content{
        color: #000000;
        background-color: #ffffff;
        border: 1px solid #c0c0c0;
        margin: 0;
        font-size: 0.875rem;
        font-family: Arial,Helvetica,sans-serif;
        line-height: normal;
        height: 2.5rem;
        vertical-align: top;
        padding: 0 0.75rem;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    .details-item-add{
        &:before{
            vertical-align: middle;
        }
        span{
            color: #00679e;
            font-size: 16px;
            line-height: 25px;
            vertical-align: middle;
        }
        &:hover{
            background-color: rgba(222,222,222,0.5)
        }
        &:active{
            background-color: #007AC3;
            span{
                color: #fff;
            }
        }
    }
    textarea{
        color: #000000;
        background-color: #ffffff;
        border: 1px solid #c0c0c0;
        margin: 0;
        font-size: 0.875rem;
        font-family: Arial,Helvetica,sans-serif;
        line-height: 1.4;
        padding: 0.75rem;
        height: 2.5rem;
        vertical-align: top;
        width: 100%;
        height: 60px;
        box-sizing: border-box;
    }

    .attach-list{
        position: relative;
        .list-title{
            .icon-plus{
                line-height: 50px;
                position: absolute;
                left: 10px;
                top: 0;

            }
        }
        .upload-btn {
            padding: 0;
            background: transparent;
        }
    }
}

.report-expenses{
    h5{
        clear: both;
        margin: 10px 0;
        em{
            font-weight: normal;
            float: right;
            color: #666;
            margin-right: 80px;
        }
        span{
            float: right;
            margin-right: 6px;
        }
    }
}
.list-expenses{
    .list-item{
        border-bottom: 1px solid #e5e5e5;
        height: 42px;
        padding: 10px;
        background: #fff;
        cursor: pointer;
        &:hover{
            background: #f0f0f0;
        }
        .fr, .fl{
            height: 42px;
        }
        em{
            color: #666;
        }
        .item-summary{
            p{
                padding-bottom: 10px;
            }
            span{
                color: #666;
            }
        }
        .item-money{
            em{
                margin-left: 6px;
            }
        }
        .item-button{
            margin-left: 20px;
        }
        .aths-icon-edit{
            color: #666;
        }
        .icon-cancel{
            color: #cc1919;
        }
    }
    .details-item-add{
        margin-top: 20px;
        display: inline-block;
    }

}

.add-expense-list{
    li{
        height: 53px;
        cursor: pointer;
        .ui-checkbox{
            margin: 15px;
        }
        .list-title{
            margin: 16px 0;
            color: #666;
        }
        .ui-btn-plus{
            margin: 5px 15px 0 0;
        }
        &.active{
            background: #e6f2f9;
        }
        &:hover{
            background: #d9ecf6;
        }
    }
}
