body {
	background: #1FA3AF;
}
.container {
	overflow:hidden;
}
.header-wrap {
	background: #009CE3;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
.header {
	height: 44px;
	background: #F2F2F2;
	margin-top: 4px;
	color: #666666;
	width: 100%;
	position: relative;
	.title {
		line-height: 44px;
		text-align: center;
	}
	.logo {
		position: absolute;
		left: 8px;
		top: 10px;
		background: url(images/h-l.png) center center no-repeat;
		width: 51px;
		height: 25px;
		display: inline-block;
	}
	.head-right {
		position: absolute;
		right: 0;
		top: 0;
		background: #F2F2F2;
		.h-icon {
			line-height: 44px;
			padding: 0 10px; 
		}
		.r-line {
			border-right: 1px solid #D8D8D8;
		}
		.user-info {
			cursor: pointer;
			position: relative;
			display: inline-block;
			&:hover {
				background: #eaeaea;
			}
			.user-bk {
				background: rgba(54,62,67,0.98);
				padding: 10px 10px;
				position: absolute;
				top: 66px;
				right: 10px;
				color: #FFF;
				width: 130px;
			}
			.arr-up {
				top: -32px;
				left: 66px;
			}
		}
	}
}
.arr {
	display: block;
	position: absolute;
	border-style: solid;
	border-width: 16px;
	width: 0;
	height: 0;
	border-color: transparent;
	border-bottom-color: rgba(54,62,67,0.98);
	&:before {

		background: rgba(255,255,255,0.01);
		content: "";
		display: block;
		pointer-events: all;
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		position: absolute;
		z-index: -1
	}
}
.arr-up {
	&:before {
		margin-top: .25rem;
		margin-left: -0.75rem;
		width: 1.5rem;
		height: 1.5rem
	}
}
.arr-up {
	&:after {
		border-bottom-color: rgba(54,62,67,0.98);
	}
}
.footer {
	background: rgba(54,62,67,0.98);
	height: 48px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: right;
	.link {
		color: #FFF;
		margin: 4px 8px;
		padding: 0 8px;
		line-height: 40px;
		display: inline-block;
		height: 40px;
		&:hover {
			background: #555;
			border-radius: 4px;
		}
	}
}
/*页面title bottom*/
.page-title {
	background: #FFF;
	height: 43px;
	border: 1px solid #DDDDDD;
	color: #666666;
	line-height: 45px;
	.i-back {
		position: absolute;
		left: 10px;
		font-size: 20px;
	}
	.tl-left {
		width: 320px;
		position: absolute;
		left: 0;
		top: 0;
		text-align: center;
	}
	.tl-right {
		margin-left: 320px;
		text-align: center;
	}
}
.moving {
	z-index: 10;
}
/*切换container*/
.cnt-right{
	position: absolute;
	left: 320px;
	top: 0px;
	bottom: 0px;
	right: 0;
}
.title-right {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	text-align: center;
	height: 43px;
	line-height: 45px;
	color: #666666;
	background: #FFF;

}
.btm-right {
	position: absolute;
	bottom: 0;
	right: 20px;
	height: 47px;
	z-index: 1;
	background: #3d4549;
}
.btm-link {
	color: #FFF;
	margin: 4px 4px;
	padding: 0 8px;
	line-height: 40px;
	display: inline-block;
	height: 40px;
	font-size: 14px;
	&:hover {
		background: #555;
		border-radius: 4px;
	}
}
.active {
	background: #009CE4;
	border-radius: 4px;
	&:hover {
		background:#007AC3;
	}
}
.approve{
	background:#00792F;
	border-radius: 4px;
	&:hover {
		background:#006C2A;
	}
}
.reject {
	background:#CE1408;
	border-radius: 4px;
	&:hover {
		background:#B61006;
	}
}
.page-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 47px;
	background: #3D4549;
	border-bottom: 1px solid #596064;
	text-align: right;
	.btm-left {
		margin-left: 235px;
		color: #FFF;
		float: left;
		position: relative;
	}
	.btm-l {
		color: #FFF;
		float: left;
		position: relative;
	}
	.i-btm{
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 20px;
		margin: 4px 0;
		cursor: pointer;
		&:hover {
			background: #555;
		}
	}
	.h-list-wrap {
		width: 200px;
		position: absolute;
		left: 0;
		bottom: 40px;
		border: 1px solid #CCCCCC;
		border-radius: 3px;
		background: #FFF;
		text-align: left;
		color: #000000;
		font-size: 14px;
		.h-item {
			padding: 10px 15px;
			cursor: pointer;
			&:hover {
				background: #E6F2F9;
			}
		}
	}
	.pa1 {
		width:80px;
		left:45px;
	}
	.pa2 {
		width:80px;
		left:0;
	}
	.pa3 {
		width:110px;
		left:45px;
	}
}
/*自定义下拉框*/
.selint {
	position: relative;
	z-index: 10;
	background: #fff;
}
.selint .option {
	position: absolute;
	top: 27px;
	left: 0;
	width: 159px;
	height: 130px;
	overflow-y: scroll;
	border: 1px solid #ddd;
	background: #fff;
	display: none
}
.selint .option a {
	display: block;
	padding: 5px 10px;
	color: #666
}
.selint .option a:hover {
	background: #66b6e3;
	color: #fff
}
.selint .sopin {
	position: absolute;
	top: 38px;
	left: -1px;
	right:-1px;
	background: #fff;
	border: 1px solid #ddd;
	z-index: 2;
	max-height: 160px;
	overflow-y: auto;
}
.selint .sopin li a {
	display: block;
	padding: 0 10px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	color: #333
}
.selint .sopin li a:hover {
	background: #f0f0f0;
	text-decoration: none
}
.selint .sebn {
	height: 38px;
	line-height: 38px;
	border: 1px solid #ddd;
	padding: 0;
	position: relative;
	&:hover{
		border:1px solid #0078C6;
		.most{
			background: #0078C6;
			color: #FFF;
		}
	}
}
.selint .sebn .sipt {
	font-size: 16px;
	line-height: 38px;
	height: 40px;
	padding: 0 10px;
	display: block;
	cursor: pointer;
}
.selint .sebn .most {
	width: 38px;
	height: 40px;
	position: absolute;
	top: -1px;
	right: -1px;
	text-align: center;
}

/*table*/
table {
  background-color: #FFF;
}
th {
  text-align: left;
}

/*浮层内容样式*/
.dl-content {
	background: #F2F2F2;
}
.dl-search {
	margin: 4px;
	height: 38px;
	height: 38px;
	border: 1px solid transparent;
	position: relative;
	background: #fff;
	.search-ipt {
		width: 220px;
		height: 38px;
		line-height: 38px;
		text-indent: 40px;
		font-size: 16px;
		&:focus {
			outline: none;
			outline-width: 0;
		}
	}
	.dls-icon {
		width: 38px;
		height: 38px;
		line-height: 38px;
		position: absolute;
		top: 1px;
		text-align: center;
		right: 0;
	}
	&:hover{
		border: 1px solid #007AC3;
	}
	&:active {
		border: 1px solid #007AC3;
	}
}
.dl-list-wrap{
	border-top: 1px solid #DDDDDD;
	background: #fff;
	height: 240px;
	overflow-y: auto;
	.list-item {
		border-bottom: 1px solid #E5E5E5;
		padding: 10px 13px;
	}
}

// Baseline styles

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
  color: #333;
  // Cells
  > thead,
  > tbody,
  > tfoot {
	> tr {
	  > th,
	  > td {
		padding: 13px;
		line-height: 20px;
		vertical-align: top;
		border-bottom: 1px solid #CDCDCD;
		font-size: 14px;
		text-align: center;
	  }
	}
  }

  // Bottom align for column headings
  > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 1px solid #CDCDCD;
	background: #CDCDCD;
	color: #333;
	font-weight: normal;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
	> tr:first-child {
	  > th,
	  > td {
		border-top: 0;
	  }
	}
  }
  // Account for multiple tbody instances
  > tbody + tbody {
	border-top: 1px solid #CDCDCD;
  }

  // Nesting
  .table {
	background-color: #FFF;
  }
}


/*预加载*/
.blockPage {
	border: none !important;
}
.blockOverlay {
	background-color: rgb(255, 255, 255) !important;
	opacity: 0.9 !important;
}
#fiori2-loader {
	display: block;
	width: 25px;
	height: 25px;
	padding-right: 25px;
	margin: 0 auto;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	-webkit-opacity: 0.5;
	opacity: 0.5;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50)
}

.fiori2-leafContainer1 {
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-name: fadeLeaf2-1;
	animation-name: fadeLeaf2-1
}

.fiori2-leafContainer2 {
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-name: fadeLeaf2-2;
	animation-name: fadeLeaf2-2
}

.fiori2-leafContainer3 {
	-webkit-animation-duration: 9s;
	animation-duration: 9s;
	-webkit-animation-name: fadeLeaf2-3;
	animation-name: fadeLeaf2-3
}

.fiori2-leafContainer4 {
	-webkit-animation-duration: 6s;
	animation-duration: 6s;
	-webkit-animation-name: fadeLeaf2-4;
	animation-name: fadeLeaf2-4
}

.fiori2-leafContainer5 {
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-name: fadeLeaf2-5;
	animation-name: fadeLeaf2-5
}

.fiori2-leaf1 {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-animation-name: scaleLeaf2-1;
	animation-name: scaleLeaf2-1
}

.fiori2-leaf2 {
	-webkit-transform: rotate(72deg);
	transform: rotate(72deg);
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-name: scaleLeaf2-2;
	animation-name: scaleLeaf2-2
}

.fiori2-leaf3 {
	-webkit-transform: rotate(144deg);
	transform: rotate(144deg);
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-name: scaleLeaf2-3;
	animation-name: scaleLeaf2-3
}

.fiori2-leaf4 {
	-webkit-transform: rotate(216deg);
	transform: rotate(216deg);
	-webkit-animation-duration: .9s;
	animation-duration: .9s;
	-webkit-animation-name: scaleLeaf2-4;
	animation-name: scaleLeaf2-4
}

.fiori2-leaf5 {
	-webkit-transform: rotate(288deg);
	transform: rotate(288deg);
	-webkit-animation-duration: 1.3s;
	animation-duration: 1.3s;
	-webkit-animation-name: scaleLeaf2-5;
	animation-name: scaleLeaf2-5
}

.rtlFiori2-leaf1 {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-animation-name: scaleLeaf2-1;
	animation-name: scaleLeaf2-1
}

.rtlFiori2-leaf2 {
	-webkit-transform: rotate(-72deg);
	transform: rotate(-72deg);
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-name: scaleLeaf2-2;
	animation-name: scaleLeaf2-2
}

.rtlFiori2-leaf3 {
	-webkit-transform: rotate(-144deg);
	transform: rotate(-144deg);
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-name: scaleLeaf2-3;
	animation-name: scaleLeaf2-3
}

.rtlFiori2-leaf4 {
	-webkit-transform: rotate(-216deg);
	transform: rotate(-216deg);
	-webkit-animation-duration: .9s;
	animation-duration: .9s;
	-webkit-animation-name: scaleLeaf2-4;
	animation-name: scaleLeaf2-4
}

.rtlFiori2-leaf5 {
	-webkit-transform: rotate(-288deg);
	transform: rotate(-288deg);
	-webkit-animation-duration: 1.3s;
	animation-duration: 1.3s;
	-webkit-animation-name: scaleLeaf2-5;
	animation-name: scaleLeaf2-5
}
.fiori2-blossom {
	position: absolute;
	width: 30px;
	height: 30px;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: rotateBlossom;
	animation-name: rotateBlossom;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation-duration: 4s;
	animation-duration: 4s
}

.fiori2-leafContainer {
	position: absolute;
	width: inherit;
	height: inherit;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation-direction: alternate;
	animation-direction: alternate
}

.fiori2-leaf {
	background-color: #009de0;
	position: absolute;
	width: inherit;
	height: inherit;
	border: 1px solid #fff;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 0;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation-direction: alternate;
	animation-direction: alternate
}

#fiori2-startup-flower {
	position: absolute;
	top: 48%;
	left: 48%;
	display: block;
	width: 30px;
	height: 30px;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	-webkit-opacity: 0.5;
	opacity: 0.5;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50)
}


@-webkit-keyframes rotateBlossom {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-moz-keyframes rotateBlossom {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes rotateBlossom {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-webkit-keyframes fadeLeaf2-1 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@-moz-keyframes fadeLeaf2-1 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@keyframes fadeLeaf2-1 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@-webkit-keyframes fadeLeaf2-2 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@-moz-keyframes fadeLeaf2-2 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@keyframes fadeLeaf2-2 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@-webkit-keyframes fadeLeaf2-3 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@-moz-keyframes fadeLeaf2-3 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@keyframes fadeLeaf2-3 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@-webkit-keyframes fadeLeaf2-4 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@-moz-keyframes fadeLeaf2-4 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@keyframes fadeLeaf2-4 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@-webkit-keyframes fadeLeaf2-5 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@-moz-keyframes fadeLeaf2-5 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@keyframes fadeLeaf2-5 {
	0% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}

	50% {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100)
	}

	100% {
		-moz-opacity: 0.2;
		-khtml-opacity: 0.2;
		-webkit-opacity: 0.2;
		opacity: 0.2;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
		filter: alpha(opacity=20)
	}
}

@-webkit-keyframes scaleLeaf2-1 {
	100% {
		-webkit-transform: scale(1.25) rotate(0deg);
		-moz-transform: scale(1.25) rotate(0deg);
		-o-transform: scale(1.25) rotate(0deg);
		-ms-transform: scale(1.25) rotate(0deg);
		transform: scale(1.25) rotate(0deg)
	}
}

@-moz-keyframes scaleLeaf2-1 {
	100% {
		-webkit-transform: scale(1.25) rotate(0deg);
		-moz-transform: scale(1.25) rotate(0deg);
		-o-transform: scale(1.25) rotate(0deg);
		-ms-transform: scale(1.25) rotate(0deg);
		transform: scale(1.25) rotate(0deg)
	}
}

@keyframes scaleLeaf2-1 {
	100% {
		-webkit-transform: scale(1.25) rotate(0deg);
		-moz-transform: scale(1.25) rotate(0deg);
		-o-transform: scale(1.25) rotate(0deg);
		-ms-transform: scale(1.25) rotate(0deg);
		transform: scale(1.25) rotate(0deg)
	}
}

@-webkit-keyframes scaleLeaf2-2 {
	100% {
		-webkit-transform: scale(1.25) rotate(77deg);
		-moz-transform: scale(1.25) rotate(77deg);
		-o-transform: scale(1.25) rotate(77deg);
		-ms-transform: scale(1.25) rotate(77deg);
		transform: scale(1.25) rotate(77deg)
	}
}

@-moz-keyframes scaleLeaf2-2 {
	100% {
		-webkit-transform: scale(1.25) rotate(77deg);
		-moz-transform: scale(1.25) rotate(77deg);
		-o-transform: scale(1.25) rotate(77deg);
		-ms-transform: scale(1.25) rotate(77deg);
		transform: scale(1.25) rotate(77deg)
	}
}

@keyframes scaleLeaf2-2 {
	100% {
		-webkit-transform: scale(1.25) rotate(77deg);
		-moz-transform: scale(1.25) rotate(77deg);
		-o-transform: scale(1.25) rotate(77deg);
		-ms-transform: scale(1.25) rotate(77deg);
		transform: scale(1.25) rotate(77deg)
	}
}

@-webkit-keyframes scaleLeaf2-3 {
	100% {
		-webkit-transform: scale(1.25) rotate(144deg);
		-moz-transform: scale(1.25) rotate(144deg);
		-o-transform: scale(1.25) rotate(144deg);
		-ms-transform: scale(1.25) rotate(144deg);
		transform: scale(1.25) rotate(144deg)
	}
}

@-moz-keyframes scaleLeaf2-3 {
	100% {
		-webkit-transform: scale(1.25) rotate(144deg);
		-moz-transform: scale(1.25) rotate(144deg);
		-o-transform: scale(1.25) rotate(144deg);
		-ms-transform: scale(1.25) rotate(144deg);
		transform: scale(1.25) rotate(144deg)
	}
}

@keyframes scaleLeaf2-3 {
	100% {
		-webkit-transform: scale(1.25) rotate(144deg);
		-moz-transform: scale(1.25) rotate(144deg);
		-o-transform: scale(1.25) rotate(144deg);
		-ms-transform: scale(1.25) rotate(144deg);
		transform: scale(1.25) rotate(144deg)
	}
}

@-webkit-keyframes scaleLeaf2-4 {
	100% {
		-webkit-transform: scale(1.25) rotate(216deg);
		-moz-transform: scale(1.25) rotate(216deg);
		-o-transform: scale(1.25) rotate(216deg);
		-ms-transform: scale(1.25) rotate(216deg);
		transform: scale(1.25) rotate(216deg)
	}
}

@-moz-keyframes scaleLeaf2-4 {
	100% {
		-webkit-transform: scale(1.25) rotate(216deg);
		-moz-transform: scale(1.25) rotate(216deg);
		-o-transform: scale(1.25) rotate(216deg);
		-ms-transform: scale(1.25) rotate(216deg);
		transform: scale(1.25) rotate(216deg)
	}
}

@keyframes scaleLeaf2-4 {
	100% {
		-webkit-transform: scale(1.25) rotate(216deg);
		-moz-transform: scale(1.25) rotate(216deg);
		-o-transform: scale(1.25) rotate(216deg);
		-ms-transform: scale(1.25) rotate(216deg);
		transform: scale(1.25) rotate(216deg)
	}
}

@-webkit-keyframes scaleLeaf2-5 {
	100% {
		-webkit-transform: scale(1.25) rotate(288deg);
		-moz-transform: scale(1.25) rotate(288deg);
		-o-transform: scale(1.25) rotate(288deg);
		-ms-transform: scale(1.25) rotate(288deg);
		transform: scale(1.25) rotate(288deg)
	}
}

@-moz-keyframes scaleLeaf2-5 {
	100% {
		-webkit-transform: scale(1.25) rotate(288deg);
		-moz-transform: scale(1.25) rotate(288deg);
		-o-transform: scale(1.25) rotate(288deg);
		-ms-transform: scale(1.25) rotate(288deg);
		transform: scale(1.25) rotate(288deg)
	}
}

@keyframes scaleLeaf2-5 {
	100% {
		-webkit-transform: scale(1.25) rotate(288deg);
		-moz-transform: scale(1.25) rotate(288deg);
		-o-transform: scale(1.25) rotate(288deg);
		-ms-transform: scale(1.25) rotate(288deg);
		transform: scale(1.25) rotate(288deg)
	}
}

.clearfix {
    *zoom:1}

.clearfix:before,.clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}
/*字体颜色*/
.f000 {
	color:#000;
}
.f666 {
	color: #666666;
}
.f333 {
	color: #333333;
}
.none{
	display: none;
}
.f12{
	font-size: 12px;
}
.f14{
	font-size: 14px;
}
.f16{
	font-size: 16px;
}
.f18 {
	font-size: 18px;
}
.fblue {
	color: #0673A8;
}
.fblue2 {
	color: #7EB2E1;
}
.fgreen{
	color:#0F8749;
}
.f25 {
	font-size: 25px;
}
.f30 {
	font-size: 30px;
}
.fb {
	font-weight: bold;
}
.mt10 {
	margin-top: 10px;
}
.mr40 {
	margin-right: 40px;
}
.mt0 {
	margin-bottom: 0;
}
.txc{
	text-align: center;
}
.fr {
	float:right;
}
.fl {
	float:left;
}
.lh30 {
	line-height: 30px;
}
.upload-btn {
	height: 50px;
	position: absolute;
	left: 10px;
	top: 0px;
	width: 35px;
	.file-btn{
		width: 100%;
		height: 50px;
		opacity: 0;
		cursor: pointer;
	}
}

/*dialog*/
.ui-dialog-mask{
    display: none;
    position: fixed;
    _position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    width: 100%;
}
.ui-dialog-pop{
    display: none;
    position: fixed;
    _position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2000;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid #666768;;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    outline: none;
    .ui-dialog-hd{
        line-height: 48px;
        position: relative;
        font-style: normal;
        background: #f2f2f2;
        font-size: 16px;
        height: 48px;
        color: #666;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }
    .ui-dialog-bd{
        margin: 20px;
    }
    .ui-dialog-close{
        position: absolute;
        right: 5px;
        cursor: default;
        line-height: 12px;
        font-size: 36px;
        color: #777;
        top: 10px;
        cursor: pointer;
    }
    .ui-dialog-ft{
        background: #333c42;
        text-align: right;
        padding: 4px 0;
        .ui-dialog-button {
            margin-right: 15px;
        }
    }
    .button{
        margin-right: 15px;
        padding: 0 12px;
        height: 48px;
        display: inline-block;
        line-height: 48px;
        cursor: pointer;
        color: #fff;
        border-radius: 3px;
        &:hover{
            background: #444d52;
        }
    }
}

/*ui-form*/
.ui-checkbox{
    background-color: #ffffff;
    height: 1.125rem;
    width: 1.125rem;
    line-height: 1.125rem;
    padding: 0;
    text-align: center;
    border: solid 0.125rem #c0c0c0;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
    -webkit-focus-ring-color: none;
    cursor: pointer;
    &:hover{
        border: solid 0.125rem #007cc0;
    }
    span{
        &:before{
            margin: 0;
        }
        color: #007cc0;
        display: none;
    }
    &.checked{
        span{
            display: inline;
        }
    }
}
.ui-btn-plus{
    height: 2.500rem;
    min-width: 2.500rem;
    margin: 0;
    padding: 0;
    vertical-align: top;
    border: 1px solid #bfbfbf;
    border-radius: 0.125rem;
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    &:hover{
        background: #EFEDED;
    }
    &:active{
        background: #007AC3;
    }
    &.disabled{
        background: #F3F4F5;
        span{
            color: #ADADAE;
        }
    }
    span{
        color: #666666;
        font-size: 1.475rem;
        line-height: 2.675rem;
        width: 2.375rem;
        text-align: center;
        margin: 0;
        padding: 0;
        vertical-align: top;
        max-height: 2.375rem;
        &:before{
            line-height: 2.675rem;
            margin: 0;
        }
    }
}



